<head>
  <meta charset="utf-8">
  <title>{{ title }} | {{ siteData.myName}}</title>
  <meta name="viewport" content="width=device-width,initial-scale=1">
  <meta name="view-transition" content="same-origin">
  <link rel="stylesheet" href="/styles/index.css" />
  <link rel="preload" href="/assets/fonts/FiraCode-Light.woff2" crossorigin="" as="font" type="font/woff2">
  <link rel="preload" href="/assets/fonts/Inter-Regular.woff2" crossorigin="" as="font" type="font/woff2">
  <link rel="icon" href="/assets/favicon/favicon.ico" sizes="any">
  <link rel="icon" href="/assets/favicon/favicon.svg" type="image/svg+xml">
  <link rel="apple-touch-icon" href="/assets/favicon/favicon-apple-touch.png">
  <link rel="manifest" href="/manifest.json">
  <link rel="canonical" href="https://pozniakov.com/">
  <link rel="me" href="https://www.instagram.com/radpozniakov/">
  <meta name="description" content="{{ description }}">
  <meta name="generator" content="Eleventy v2.0.1">  
  <meta property="og:type" content="website">
  <meta property="og:title" content="{{ title }} | {{ siteData.myName}}">
  <meta property="og:description" content="{{ description }}">
  <meta property="og:url" content="https://pozniakov.com/">
  <meta property="og:image" content="/assets/img/covers/{{ cover }}">
  <meta property="og:image:width" content="1200">
  <meta property="og:image:height" content="630">

  <!-- <style media="all"></style>
  <style media="not all"></style> -->
</head>
