<section class="top-navigation">
  <nav class="top-navigation__list">
    <a class="nav-text outline top-navigation__item top-navigation__item--with-divider" href="/">Home</a>
    <span class="nav-text top-navigation__item top-navigation__item--inactive">/</span>
    <span class="nav-text top-navigation__item top-navigation__item--inactive">Web Expertise</span>
  </nav>
  <a class="nav-text top-navigation__item outline" href="/assets/Rodion_Pozniakov_designer&developer_Kyiv_Ukraine.pdf" title="open my resume">resume</a>
</section>
