.error {
  display: flex;
  align-items: center;
  gap: calc(2rem * var(--scale-ratio));
  height: 100%;
  flex: 1;
}

.error__code {
  position: relative;
}
.error__code::after {
  content: '';
  height: calc(3rem * var(--scale-ratio));
  top: calc(-0.55rem * var(--scale-ratio));
  right: calc(-1rem * var(--scale-ratio));
  width: 1px;
  background-color: var(--link-card-hover-bg-color);
  position: absolute;
}
