<!DOCTYPE html>
<html lang="en">
  {% include 'head.njk' %}
  <body>
    <main class="one-column-content one-column-content--offset">
      {% include 'my-info.njk' %}
      {% include 'links.njk' %}
      {% include 'footer.njk' %}
    </main>
  </body>
</html>
