<!DOCTYPE html>
<html lang="en">
  {% include 'head.njk' %}
  <body>
    <main class="one-column-content">
      {% include 'top-navigation.njk' %}
      {% include 'my-info.njk' %}
      <div class="my-web-expertise">
        <section class="my-web-expertise__about">
          <strong class="short-text">I've worked with</strong>
          <p class="text">{{siteData.iWorkedWith}}</p>
        </section>
      {% include 'expertise-periods.njk' %}
      </div>
    {% include 'footer.njk' %}
    </main>
  </body>
</html>
